# Environment
.env

# Raw Data
data/*


# Models
.h5
.pickle
.pck
.pcl
.db

# Mac/OSX
.DS_Store

# Jupyter Notebook
.pytest_cache
__pycache__
*checkpoint.ipynb
*.ipynb_checkpoints
